{% extends "base.html" %}

{% block content %}
    <div class="container">
        <ul class="fly-in-text hidden">
            <li>T</li>
            <li>H</li>
            <li>A</li>
            <li>N</li>
            <li>K</li>
            <li>S</li>
            <li></li>
            <br>
            <li>F</li>
            <li>O</li>
            <li>R</li>
            <li></li>
            <li>V</li>
            <li>I</li>
            <li>S</li>
            <li>I</li>
            <li>T</li>
        </ul>
    </div>
   
{% endblock %}