#test2 {
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#group_lists{
    margin-top: 10px;
    padding-top: 10px;
    font-family:cursive;
    
}
  
  